<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="stylesheet" href="/assets/about_developers.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>

   <div id="nav">
      <div id="navbar">
        <a id="active" href="/home"><img src="/assets/icon.jpeg"></a>
        <ul id="l">
          <li><a  href="/home"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/timetable"><i class="far fa-calendar-alt"></i>Timetable</a></li>
          <li><a href="/attendance"><i class="fas fa-user-tie"></i>Faculty</a></li>
          <li><a href="/teacherreview"><i class="fas fa-calendar-check"></i>Attendance</a></li>
          <li><a  href="/coursepage"><i class="fas fa-book"></i>Course Page</a></li>
          <li><a  href="/submit"><i class="fas fa-file-code"></i>Assigment</a></li>
          <li><a id="active" href="/about"><i class="fas fa-file-powerpoint"></i>About Us</a></li>
        </ul>
      </div>
   </div>
   <div id="search">
      <div class="row m-0">
         <div class="col-md-9" id="left">
            <h1 class="display-4">About Developers</h1>
         </div>
         <div class="col-md-3 p-0" id="right">
            <h2></h2>
         </div>
      </div>
      <div class="row mt-4">
         <div class="col">
            <div class="row justify-content-center">
               <div class="col-3">
                  <div class="card ml-5" style="width: 17rem;">
                    <img class="card-img-top" src="/assets/2.jpeg" style="height: 300px;" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Shashank Shukla</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Web Developer & Data Sceince</h6>
                      <p class="card-text">He is highly energetic and motivated individual. He is highly skilled in Data
                        Sceince and Web development.</p>
                      <a href="#" class="card-link">&nbsp;&nbsp;&nbsp;LinkedIn</a>
                      <a href="#" class="card-link" style="color: black;">Github</a>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card ml-4" style="width: 17rem;">
                    <img class="card-img-top" src="/assets/mihir.jpg" style="height: 300px;" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Mihir Agarwal</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Web Developer & App Dev</h6>
                      <p class="card-text">He is highly energetic and motivated individual. He is highly skilled in App
                        Dev and Web development.</p>
                      <a href="#" class="card-link">&nbsp;&nbsp;&nbsp;LinkedIn</a>
                      <a href="#" class="card-link" style="color: black;">Github</a>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card ml-3" style="width: 17rem;">
                    <img class="card-img-top" src="/assets/mahima.jpg" style="height: 300px;" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Mahima</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                      <p class="card-text">She is highly energetic and motivated individual. She is highly skilled in Web
                        development.</p>
                      <a href="#" class="card-link">&nbsp;&nbsp;&nbsp;LinkedIn</a>
                      <a href="#" class="card-link" style="color: black;">Github</a>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card" style="width: 17rem;">
                    <img class="card-img-top" src="/assets/rohan.jpeg" style="height: 300px;" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Rohan Barsaiyan</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Web Developer</h6>
                      <p class="card-text">He is highly energetic and motivated individual. He is highly skilled in Web
                        development.</p>
                      <a href="#" class="card-link">&nbsp;&nbsp;&nbsp;LinkedIn</a>
                      <a href="#" class="card-link" style="color: black;">Github</a>
                    </div>
                  </div>
                </div>
            </div>
         </div>
      </div>
   </div>
</body>

</html>
