<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Attendance</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="stylesheet" href="/assets/attandance-new.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>

   <div id="nav">
      <div id="navbar">
        <a id="active" href="/home"><img src="/assets/icon.jpeg"></a>
        <ul id="l">
          <li><a  href="/home"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/timetable"><i class="far fa-calendar-alt"></i>Timetable</a></li>
          <li><a href="/teacher"><i class="fas fa-user-tie"></i>Faculty</a></li>
          <li><a id="active"  href="/attendance"><i class="fas fa-calendar-check"></i>Attendance</a></li>
          <li><a  href="/coursepage"><i class="fas fa-book"></i>Course Page</a></li>
          <li><a  href="/submit"><i class="fas fa-file-code"></i>Assigment</a></li>
          <li><a  href="/about"><i class="fas fa-file-powerpoint"></i>About Us</a></li>
        </ul>
      </div>
   </div>
   <div id="search">
      <div class="row m-0">
         <div class="col-md-9" id="left">
            <h1 class="display-4">Attendence Display</h1>
         </div>
         <div class="col-md-3 p-0" id="right">
            <h2></h2>
         </div>
      </div>
      <div class="row mt-4">
         <div class="col">
            <div class="card1">
               <p>
               <h5 style="text-align:center;">CSE3002 Internet and Web Programming</h5>
               </p>
               <table class="table" style="width: 800px; margin-left: 160px;">
                  <thead>
                     <tr
                        style="background-color: #ffca00; border-radius: 5px; border-color: black; border-style: double;">
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Attended Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Total Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid;padding: 5px;">
                           Attendance Percentage</th>
                     </tr>

                  </thead>
                  <td style="vertical-align: middle; text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle;text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle; text-align: center;border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">100</p>
                  </td>

               </table>
            </div>
            <div class="card1">
               <p>
               <h5 style="text-align:center;">CSE3002 Internet and Web Programming</h5>
               </p>
               <table class="table" style="width: 800px; margin-left: 160px;">
                  <thead>
                     <tr
                        style="background-color: #ffca00; border-radius: 5px; border-color: black; border-style: double;">
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Attended Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Total Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid;padding: 5px;">
                           Attendance Percentage</th>
                     </tr>

                  </thead>
                  <td style="vertical-align: middle; text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle;text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle; text-align: center;border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">100</p>
                  </td>

               </table>
            </div>
            <div class="card1">
               <p>
               <h5 style="text-align:center;">CSE3002 Internet and Web Programming</h5>
               </p>
               <table class="table" style="width: 800px; margin-left: 160px;">
                  <thead>
                     <tr
                        style="background-color: #ffca00; border-radius: 5px; border-color: black; border-style: double;">
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Attended Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Total Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid;padding: 5px;">
                           Attendance Percentage</th>
                     </tr>

                  </thead>
                  <td style="vertical-align: middle; text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle;text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle; text-align: center;border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">100</p>
                  </td>

               </table>
            </div>
            <div class="card1">
               <p>
               <h5 style="text-align:center;">CSE3002 Internet and Web Programming</h5>
               </p>
               <table class="table" style="width: 800px; margin-left: 160px;">
                  <thead>
                     <tr
                        style="background-color: #ffca00; border-radius: 5px; border-color: black; border-style: double;">
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Attended Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid; padding: 5px;">
                           Total Classes</th>
                        <th
                           style="vertical-align: middle; text-align: center; border-radius:1px; border-color: black; border-style: solid;padding: 5px;">
                           Attendance Percentage</th>
                     </tr>

                  </thead>
                  <td style="vertical-align: middle; text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle;text-align: center; border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">18</p>
                  </td>
                  <td style="vertical-align: middle; text-align: center;border: 1px solid #b2b2b2; padding: 5px;">
                     <p style="margin: 0px;">100</p>
                  </td>

               </table>
            </div>
         </div>
      </div>
   </div>
</body>

</html>
