<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="stylesheet" href="/assets/homepage-new.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>

   <div id="nav">
      <div id="navbar">
        <a id="active" href="/home"><img src="/assets/icon.jpeg"></a>
        <ul id="l">
          <li><a id="active"  href="/home"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/timetable"><i class="far fa-calendar-alt"></i>Timetable</a></li>
          <li><a href="/teacher"><i class="fas fa-user-tie"></i>Faculty</a></li>
          <li><a href="/attendance"><i class="fas fa-calendar-check"></i>Attendance</a></li>
          <li><a  href="/coursepage"><i class="fas fa-book"></i>Course Page</a></li>
          <li><a  href="/submit"><i class="fas fa-file-code"></i>Assigment</a></li>
          <li><a  href="/about"><i class="fas fa-file-powerpoint"></i>About Us</a></li>
        </ul>
      </div>
   </div>
   <div id="search">
      <div class="row m-0">
         <div class="col-md-9" id="left">
            <h1 class="display-4">Weclome to Student Portal Home</h1>
         </div>
         <div class="col-md-3 p-0" id="right">
            <h2></h2>
             <button class="btn btn-outline-dark ml-5 my-3" id="myBtn" onclick="window.location.href='/main'">Log OUT</button>
         </div>
      </div>
      <div class="row">
         <div class="col pr-1">
           <div class="std">
             <h2>No infromation available</h2>

           </div>
         </div>


       </div>
   </div>
</body>

</html>
