<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="/assets/submit_assignment.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>

   <div id="nav">
      <div id="navbar">
        <a id="active" href="/home"><img src="/assets/icon.jpeg"></a>
        <ul id="l">
          <li><a   href="/home"><i class="fas fa-home"></i>Home</a></li>
          <li><a href="/timetable"><i class="far fa-calendar-alt"></i>Timetable</a></li>
          <li><a href="/teacher"><i class="fas fa-user-tie"></i>Faculty</a></li>
          <li><a href="/attendance"><i class="fas fa-calendar-check"></i>Attendance</a></li>
          <li><a  href="/coursepage"><i class="fas fa-book"></i>Course Page</a></li>
          <li><a id="active" href="/submit"><i class="fas fa-file-code"></i>Assigment</a></li>
          <li><a  href="/about"><i class="fas fa-file-powerpoint"></i>About Us</a></li>
        </ul>
      </div>
   </div>
   <div id="search">
      <div class="row m-0">
         <div class="col-md-9" id="left">
            <h1 class="display-4">Submit Assigment</h1>
         </div>
         <div class="col-md-3 p-0" id="right">
            <h2></h2>
         </div>
      </div>
      <div class="row mt-4">
         <div class="col">
            <div class="row justify-content-center">
               <div class="col-3">
                  <div class="card" style="width: 18rem; border: 2px solid #ffca00;">
                     <div class="card-body">
                        <h5 class="card-title">Web Mining</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Digital Assignment-1</h6>
                        <p class="card-text">Submit report of topics studied under first lab. Perform various rules
                           taught.
                        </p>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                           <input type="file" id="myFile" name="file">
                           <button id="button" type="submit"><i class="fas fa-file-upload"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-3">
                  <div class="card" style="width: 18rem; border: 2px solid #ffca00;">
                     <div class="card-body">
                        <h5 class="card-title">Web Mining</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Digital Assignment-1</h6>
                        <p class="card-text">Submit report of topics studied under first lab. Perform various rules
                           taught.
                        </p>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                           <input type="file" id="myFile" name="file">
                           <button id="button" type="submit"><i class="fas fa-file-upload"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-3">
                  <div class="card" style="width: 18rem; border: 2px solid #ffca00;">
                     <div class="card-body">
                        <h5 class="card-title">Web Mining</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Digital Assignment-1</h6>
                        <p class="card-text">Submit report of topics studied under first lab. Perform various rules
                           taught.
                        </p>

                        <form action="/upload" method="POST" enctype="multipart/form-data">
                           <input type="file" id="myFile" name="file">
                           <button id="button" type="submit"><i class="fas fa-file-upload"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center">
               <div class="col-3">
                  <div class="card" style="width: 18rem; border: 2px solid #ffca00;">
                     <div class="card-body">
                        <h5 class="card-title">Web Mining</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Digital Assignment-1</h6>
                        <p class="card-text">Submit report of topics studied under first lab. Perform various rules
                           taught.
                        </p>

                        <form action="/upload" method="POST" enctype="multipart/form-data">
                           <input type="file" id="myFile" name="file">
                           <button id="button" type="submit"><i class="fas fa-file-upload"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-3">
                  <div class="card" style="width: 18rem; border: 2px solid #ffca00;">
                     <div class="card-body">
                        <h5 class="card-title">Web Mining</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Digital Assignment-1</h6>
                        <p class="card-text">Submit report of topics studied under first lab. Perform various rules
                           taught.
                        </p>

                        <form action="/upload" method="POST" enctype="multipart/form-data">
                           <input type="file" id="myFile" name="file">
                           <button id="button" type="submit"><i class="fas fa-file-upload"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-3">
                  <div class="card" style="width: 18rem; border: 2px solid #ffca00;">
                     <div class="card-body">
                        <h5 class="card-title">Web Mining</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Digital Assignment-1</h6>
                        <p class="card-text">Submit report of topics studied under first lab. Perform various rules
                           taught.
                        </p>

                        <form action="/upload" method="POST" enctype="multipart/form-data">
                           <input type="file" id="myFile" name="file">
                           <button id="button" type="submit"><i class="fas fa-file-upload"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

</html>
