<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link rel="stylesheet" href="/assets/teacher_review_info.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

</head>

<body>

   <div id="nav">
      <div id="navbar">
      <a id="active" href="/home"><img src="/assets/icon.jpeg"></a>
      <ul id="l">
        <li><a  href="/home"><i class="fas fa-home"></i>Home</a></li>
        <li><a href="/timetable"><i class="far fa-calendar-alt"></i>Timetable</a></li>
        <li><a id="active" href="/teacher"><i class="fas fa-user-tie"></i>Faculty</a></li>
        <li><a href="/attendance"><i class="fas fa-calendar-check"></i>Attendance</a></li>
        <li><a  href="/coursepage"><i class="fas fa-book"></i>Course Page</a></li>
        <li><a  href="/submit"><i class="fas fa-file-code"></i>Assigment</a></li>
        <li><a  href="/about"><i class="fas fa-file-powerpoint"></i>About Us</a></li>
      </ul>
      </div>
   </div>
   <div id="search" style="overflow-x: unset;">

      <div class="row m-0">
         <div class="col-9" id="faculty">
            <h1 class="display-4 ">Faculty Info</h1>
         </div>
         <div class="col-3" id="y-color">
         </div>
      </div>
      <div style="overflow-y: scroll;height: 90%;">
         <div class="my-teacher-info bg-yellow-info container">
            <div class="row ">

               <div class="col-9">
                  <table class="table m-0">


                     <tr>
                        <td style=" width: 30%"><b>Name of the Faculty </b></td>
                        <td>Ms. NALINI N</td>
                     </tr>

                     <tr>
                        <td><b>Designation</b></td>
                        <td>Assistant Professor (Senior)</td>

                     </tr>


                     <tr>
                        <td><b>Name of Department</b></td>
                        <td>Department of Information Security</td>
                     </tr>
                     <tr>
                        <td><b>School / Centre Name </b></td>
                        <td>School of Computer Science and Engineering</td>
                     </tr>

                     <tr>
                        <td><b>E-Mail Id </b></td>
                        <td>nalini@vit.ac.in</td>
                     </tr>


                     <tr>
                        <td><b> Cabin Number </b></td>
                        <td>SJT-413-31A</td>
                     </tr>

                     <tr>
                        <td style="color: #ffca00;"><b><u>
                                 <h3>Open Hours :</h3>
                           </b></u></td>

                     </tr>

                     <tr>
                        <td><b> Monday </b></td>
                        <td>10:00 AM - 11:00 AM</td>
                     </tr>

                     <tr>
                        <td><b> Thrusday </b></td>
                        <td>04:00 PM - 05:00 PM</td>
                     </tr>



                  </table>
               </div>
               <div class="col-3" style="text-align: center; vertical-align: middle;">
                  <img class="  rounded-circle-info " src="/assets/nalini.png" alt="">
               </div>
            </div>
         </div>



         <!-- <div class="my-teacher-info bg-yellow-info container ">
            <div class="row">
               <div class="col-4">
                  <h1> </h1>
               </div>
               <div class="col-8">
                  <table class="table m-0">
                     <h5 style="padding-left: 7rem;">Open Hours</h5>
                     <tr>
                        <td style=" width: 30%"><b>Week Day </b></td>
                        <td><b>Timings</b></td>
                     </tr>
                     <tr>
                        <td><b>Monday</b></td>
                        <td>10:00 AM - 11:00 AM</td>
                     </tr>
                     <tr>
                        <td><b>Thrusday</b></td>
                        <td></td>
                     </tr>
                  </table>
               </div>
            </div>
         </div> -->
         <h3 id="review-head" class="container"><u>Top Reviews</u></h3>
         <div class="container p-0 ">

            <div class="my-teacher-info bg-yellow-info review review">
               <img class=" rounded-circle" src="/assets/mihir.jpg" alt="">

               <h4>Mihir</h4>
               <p>She is the best teacher for Web Programming</p>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
            </div>
            <div class="my-teacher-info bg-yellow-info review review">
               <img class=" rounded-circle" src="/assets/2.jpeg" alt="">

               <h4>Shashank</h4>
               <p>She is the best teacher for Web Programming</p>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star "></span>
            </div>
            <div class="my-teacher-info bg-yellow-info review review">
               <img class=" rounded-circle" src="/assets/mahima.jpg" alt="">

               <h4>Mahima</h4>
               <p>She is the best teacher for Web Programming</p>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star "></span>
            </div>
            <div class="my-teacher-info bg-yellow-info review review">
               <img class=" rounded-circle" src="/assets/rohan.jpeg" alt="">

               <h4>Rohan</h4>
               <p>She is the best teacher for Web Programming</p>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star "></span>
               <span class="fa fa-star "></span>
            </div>
            <div class="my-teacher-info bg-yellow-info review review ">
               <!-- <img class=" rounded-circle" src="rohan.jpg" alt=""> -->
               <!-- <div id="add-review"> -->
               <i id="add-review" class="fas fa-plus"></i>
               <!-- </div> -->
               <h4>Add a Review</h4>
               <span class="fa fa-star "></span>
               <span class="fa fa-star "></span>
               <span class="fa fa-star "></span>
               <span class="fa fa-star "></span>
               <span class="fa fa-star "></span>
            </div>

         </div>








      </div>



</body>

</html>
