<html>
    <head>
        <title>
            Thank you !!!
        </title>
        <!-- <link rel="stylesheet" type="text/css" href="assets/homestyle.css"> -->

<script>
function deleteCookie(name) {
              createCookie(name, "", -1);
          }
</script>
<body >
    <center>
        <h1 style="position: absolute ;left:545px; top:100px; color:red">
            Thank you for visiting Pharmeasy.
        </h1>
        <button style="position:absolute;;left:720px;;top:200px;" type="button" class="btn1 btn3" onclick="window.location.href='/'">Login again</button>
    </center>
</body>
    </head></html>
