body {
    background-color: #f7f7f7;
}

.container-fluid{
    position: fixed; 
    height: 100%;
}
 #navbar{
    top: 10%;
    line-height: 3rem;

} 

li{
    padding: 0;
    /* list-style: none; */
    list-style-type: none;
}

ul{
    padding-top: 60px;
    padding-left: 22px;
}
#content{
    position: fixed;
    width: 95%;
    height: 100%;

}

i{
    font-size: 20px;
    color: #ffa827;
} 

 #nav{
    

    margin: 0%;
    width: 12%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background: white;


}
/*
#navbar{
        top: 10%;
    z-index: 150;
    transform: translateY(-50%);
}

ul{
    padding: 0;
}

ul li{
    padding: 20px;
    color: #ffca00;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transform: translateX(-170px);
}

i{
    font-size: 20px;
}

.text{
    float: left;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
    min-width: 150px;
    font-variant: small-caps;
}

li:hover{
border-radius: 0 30px 30px 0;
animation: anim 1s ease forwards;
}

@keyframes anim{
    0%{
        transform: translateX(-100px) scalex(0.5);
    }

    100%{
        background: white;
        color: #7d5a5a;
        transform: translateX(-30px);
    }
} */

#content{
    position: fixed;
    width: 95%;
    height: 100%;
    

}

#y-color{
    background-color: #ffca00;
}

#search{
    z-index: 0;
    /* padding-top: 2%;
    padding-left: 2%;
    padding-left: 2%; */
    padding: 0 0 2% 0;
    position: fixed;
    height: 100%;
    background:#f7f7f7;
    width: 88%;
    margin-left: 12%;
    overflow-x: scroll;
}

#your-teachers{
    z-index: 0;
    background:white;
    position: fixed;
    width: 30%;
    height: 100%;
    margin-left: 70%;
    /* overflow-y: scroll; */

}

#search h1{
    font-weight: 400;
    padding-left: 1%;
}

#search-bar{
    padding-left: 2% 2% 2% 2% ;
    margin: 3%; ;
}

a:hover{
    text-decoration: none;
}
/* .form-control{
    padding-left: 30px;
} */

#pic{
    /* background-color: #ffe083; */
    position: relative;
    height: 80%;
    width: 100%;
    /* background-image: url(back.png);/ */
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.0)), url(try.png);
 background-repeat: no-repeat;
    background-position: center;    
    background-size: contain;
    /* opacity: 1;
    margin-top: 3%; */
}

#search-button{
    color: black;
    background-color: #ffa827;
    border-color: #ffa827;
}

#search-button:hover{
        background-color: #ffca00;
    border-color: #ffca00;
}

#black{
    background: #ffca00;
    color: white; 
}

#white{
    background: #ffca00 ;
}
.display-4{
    font-size: 2.5rem;
}

.rounded-circle{
    padding: 0.25rem;
    background-color: #ffca00;
    border: 0.5px solid #dee2e6;
    height: 100px;
    width: 100px;
}

.bg-yellow{
    padding: 2%;
    border: .2rem solid #ffca00;
    border-radius: 0.5rem;
    margin: 0.75rem 0.75rem 0.75rem 0;
}

.my-teacher{
    height: 125px;
    /* width: 0%; */
    padding: 2% 5%;
    }

#list{
    overflow-y: scroll;
    height: 95%;
}

#list-parent{
height: 90%;
padding-right: 0;
}

#faculty{
    background-color: black;
    padding: 1rem;
    color: white;
    /* line-height: 1.2; */
}

.col-9 .display-4{
    color: white;
    font-weight: 400;
}


.my-teacher-info{
    padding: 2% 5%;
    margin-top: 1rem;
    /* height: 40%;  */
}

.bg-yellow-info{
    background: white;
    padding: 2%;
    border: .2rem solid #ffca00;
    border-radius: 0.5rem;
    /* margin: 0.75rem 0.75rem 0.75rem 0; */
}

.rounded-circle-info    {
    padding: 0.25rem;
    background-color: #ffca00;
    border: 0.5px solid #dee2e6;
    margin-top: 1.5rem;
    /* height: 125px;
    width: 125px; */

}

.table td{
    border: none;
}

.review{
    width: 18%;
    text-align: center;
    height: 300px;
}

.review{
    float: left;
    margin: 1rem 1rem 1rem 0;
}
#add-review{
    font-size: 100px;
    margin: 3rem 0;
}

.clear{
    clear: both;
}

.checked {
  color: orange;
}

#nav{
    margin: 0%;
    width: 12%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background: white;
}

#navbar{
    line-height: 5rem;
} 

#l li{
    padding: 0;
    list-style-type: none;
}

ul{
    padding-top: 2px;
    padding-left: 1px;
}

#l i{
    font-size: 17px;
    color: #ffca00;
    padding-right: 15px;
    padding-left: 25px;
}

#l a{
    color: black;
    font-weight: bold;
    font-size: 17px;
}

#navbar img {
   height: 150px;
   width: 150px; 
   padding-left: 10px;
}
#search{
    padding: 0 0 2% 0;
    position: fixed;
    height: 100%;
    background:#f7f7f7;
    width: 88%;
    margin-left: 12%;
}

#l #active{
    color: #ffca00;
}

#l a:hover{
    color: #ffca00;
    text-decoration: none;
}

#review-head{
    color: #ffca00;
    font-weight: 500!important;
    font-size: 2rem;
    margin-top: 1rem;
}